@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'Noto Sans', 'Livvic';
    overflow-x: hidden;
}

.landingPageSection {
    background-image: url('./assets/images/delivery.jpg');
}